<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" 
          integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" 
crossorigin="anonymous"></script>

  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="theme-dark">
    <div class="flex items-start">
        {% include "components/sidebar.html" %}
        <div class="flex-1">
<div class="p-4">
        {% include "components/header.html" %}
		<br>
		<main id="main">
		{% block content %}
		{% endblock content %}
		</main>
</div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<style>
    .theme-dark{
        background-color: #020d18;
        color: #efefef;
    }
</style>
</html>
